# Environment
.env
platform/.env
platform/.env.stg
platform/.env.prod

platform/dokploy/*.env
platform/dokploy/.env
platform/dokploy/.env.stg
platform/dokploy/.env.prod

# Bench directory — created by bootstrap on first `make dev-start`
development/frappe-bench/

references/mikrotik/*.env

# Python
*.pyc
__pycache__/
venv/
.venv/

# VSCode workspace files
*.code-workspace

# macOS
.DS_Store

# JetBrains
.idea/
