# Environment
.env
platform/.env

# Bench directory — created by bootstrap on first `make dev-start`
development/frappe-bench/

# Python
*.pyc
__pycache__/
venv/
.venv/

# VSCode workspace files
*.code-workspace

# macOS
.DS_Store

# JetBrains
.idea/
